html, body {
    margin: 0;
    padding: 0;
    min-width: 800px;
}

body {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    background-color: #3d3d3d;
    display: table;
    position: absolute;
    top: 0; bottom: 0;
}

a {
    padding-bottom: 1px;
    border-bottom: 1px solid #3393b6;
    color: #3393b6;
    text-decoration: none;
}
a:hover {
    border-bottom: none;
}
a:visited {
    color: #3393b6;
}

a.plain {
    padding: 0;
    border: none;
    color: inherit;
}

p {
    text-align: left;
}

.center {
    text-align: center;
}

/*** HEADER ***/

#header {
    height: 0;
    box-shadow: 0 0 5px 2px #222;
    display: table-row;
}

/* Top */

#header .top {
    color: #f1f1f1;
    background-color: #204551;
    overflow: hidden;
}

/* Top -> Branding */

#header .branding {
    display: inline-block;
}

#header .branding .logo {
    margin: 10px 20px;
    height: 60px;
    width: 60px;
    vertical-align: middle;
    display: inline-block;
}

#header .branding .title {
    font-size: 40px;
    font-weight: bold;
    line-height: 1;
    vertical-align: middle;
    display: inline-block;
}

/* Top -> Session */

#header .session-logo {
    margin-left: 30px;
    height: 60px;
    width: 60px;
    background-color: #f1f1f1;
    vertical-align: middle;
    display: inline-block;
}

#header .session-management {
    height: 60px;
    text-align: right;
    float: right;
    display: block;
    position: relative;
}

#header .session-management .name {
    font-size: 18px;
    font-weight: bold;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    bottom: 8px;
}

#header .session-management .edit-profile {
    position: absolute;
    font-size: 12px;
    left: 0;
    bottom: 0;
}

#header .session-management .logout {
    margin: 20px 30px;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    display: inline-block;
}

/* Navigation */

#header .navigation {
    height: 10px;
    background-color: #f1f1f1;
    display: block;
}

/*** Content ***/

#wrapper {
    padding-top: 60px;
    height: auto;
    text-align: center;
    white-space: nowrap;
    display: block;
}

.back-button {
    display: inline-block;
    position: relative;
    top: 20px;
}

.back-button img {
    width: 45px;
}

/*** Login Form ***/

.form {
    margin: 0 30px 60px;
    padding: 30px 0;
    width: 400px;
    font-size: 14px;
    border: 1px solid #f1f1f1;
    border-radius: 30px;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.7);
    background: #f1f1f1;
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.form .title {
    margin: 0 auto 20px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #3d3d3d;
}

.form .text,
.form .check,
.form .button,
.form .row {
    margin: 0 auto 10px;
    padding: 5px 10px;
    display: block;
}

.form .text {
    width: 260px;
    height: 20px;
}

.form .button {
    margin: 20px auto 0;
    width: 200px;
    height: 20px;
    box-sizing: content-box;
}

.form .status {
    width: 100%;
    font-size: 12px;
    text-align: center;
    color: #f1f1f1;
    position: absolute;
    bottom: -20px;
}

.form .row {
    width: 260px;
    text-align: left;
}

.form .row * {
    display: inline-block;
    vertical-align: middle;
}

.form .row input {
    margin: 0 20px 0 0;
    width: 30px;
}

.form p.label {
    margin: 0 auto;
    width: 260px;
    height: 15px;
    font-size: 10px;
    font-weight: bold;
    position: relative;
    top: 3px;
}

/*** User Tables ***/

.sub-wrap {
    display: inline-block;
}

.sub-wrap .form {
    display: block;
}

.form table {
    margin: 0 40px 20px;
    border-spacing: 20px 10px;
    text-align: left;
}

.form thead {
    font-weight: bold;
}

.doctor-my-patient-table {
    width: 1070px;
}

.patient-doctor-table {
    width: 600px;
}

.doctor-patient-table {
    width: 400px;
}

/*** Popup ***/

.popup {
    padding: 15px 30px;
    font-size: 14px;
    line-height: 2;
    text-align: center;
    border-radius: 30px;
    border: 1px solid #f1f1f1;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.7);
    background: #fbb;
    display: none;
    position:fixed;
    z-index: 10;
    top: 120px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}

.popup.show {
    display: block;
}
