<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div th:replace="base :: head">	</div>
    <body>
        <div th:replace="base :: header"></div>
        <main id="wrapper">
            <div class="form patient-doctor-table">
                <div class="title">Administrators</div>
                <table>
                    <thead>
                    <tr>
                        <td></td>
                        <td>Name</td>
                        <td>Phone</td>
                        <td>Email</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="a : ${admins}">
                        <td><a th:if="${!a.isSuper()}"
                               th:href="@{'/admin/' + ${a.isActive() ? 'deactivate' : 'activate'} + '/' + ${a.id}}"
                               th:text="${a.isActive() ? 'Deactivate' : 'Activate'}"></a></td>
                        <td th:text="${a.getFullName()}"></td>
                        <td th:text="${a.primaryPhone}"></td>
                        <td><a th:href="'mailto:' + ${a.email}" th:text="${a.email}"></a></td>
                    </tr>
                    </tbody>
                </table>
                <div class="center"><b><a th:href="@{/admins/new}">Register New Admin</a></b></div>
            </div>
            <div class="form patient-doctor-table">
                <div class="title">Doctors</div>
                <table>
                    <thead>
                    <tr>
                        <td></td>
                        <td>Name</td>
                        <td>Phone</td>
                        <td>Email</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="d : ${doctors}">
                        <td><a th:href="@{'/admin/' + ${d.isActive() ? 'deactivate' : 'activate'} + '/' + ${d.id}}"
                               th:text="${d.isActive() ? 'Deactivate' : 'Activate'}"></a></td>
                        <td th:text="${d.getFullName()}"></td>
                        <td th:text="${d.primaryPhone}"></td>
                        <td><a th:href="'mailto:' + ${d.email}" th:text="${d.email}"></a></td>
                    </tr>
                    </tbody>
                </table>
                <div class="center"><b><a th:href="@{/doctors/new}">Register New Doctor</a></b></div>
            </div>
        </main>
    </body>
</html>
