<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title th:text="(${title} ? ${title} + ' - ' : '') + 'IPACS'"></title>
    <link rel="stylesheet" type="text/css" href="../static/style/style.css" th:href="@{/style/style.css}"/>
</head>
<body>
<header id="header" th:fragment="header">
    <div class="top">
        <div class="branding">
            <img class="logo" src="../static/media/logo.svg" th:src="@{/media/logo.svg}"/>
            <span class="title">IPACS</span>
        </div>
        <div class="session-management" th:if="${user}">
            <span th:inline="text" class="name" th:text="${user.getFullName()}">John Smith</span>
            <span class="edit-profile"><a class="plain" th:href="@{/profile}">Edit Profile</a></span>
            <a class="plain" href="#" title="Sign Out" th:href="@{/logout}"><img class="logout" src="../static/media/power.svg" th:src="@{/media/power.svg}"/></a>
        </div>
    </div>
    <div class="navigation">
    </div>
</header>
<main id="wrapper">
    <div th:fragment="back" class="back-button" ><a class="plain" title="Back" th:href="@{/}"><img th:src="@{/media/back.svg}"/></a></div>
</main>
</body>
</html>
