<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div th:replace="base :: head">	</div>
    <body onload="reconnect();">
        <div th:replace="base :: header"></div>
        <main id="wrapper">
            <div class="form doctor-my-patient-table">
                <div class="title">My Patients</div>
                <table>
                    <thead>
                    <tr>
                        <td></td>
                        <td>Name</td>
                        <td>Phone</td>
                        <td>Email</td>
                        <td>Severe Symptoms</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="p : ${myPatients}">
                        <td><a th:href="@{'/doctor/remove/' + ${p.id}}">Remove</a></td>
                        <td><a th:href="@{'/patients/' + ${p.id}}" th:text="${p.getFullName()}"></a></td>
                        <td th:text="${p.primaryPhone}"></td>
                        <td><a th:href="'mailto:' + ${p.email}" th:text="${p.email}"></a></td>
                        <td th:text="${p.getSevereSymptoms()}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <br/>
            <div class="form doctor-patient-table">
                <div class="title">All Patients</div>
                <table>
                    <thead>
                    <tr>
                        <td></td>
                        <td>Name</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="p : ${patients}">
                        <td><a th:href="@{'/doctor/' + ${myPatients.contains(p) ? 'remove' : 'add'} + '/' + ${p.id}}"
                               th:text="${myPatients.contains(p) ? 'Remove' : 'Add'}"></a></td>
                        <td><a th:href="@{'/patients/' + ${p.id}}" th:text="${p.getFullName()}"></a></td>
                    </tr>
                    </tbody>
                </table>
                <div class="center"><b><a th:href="@{/patients/new}">Register New Patient</a></b></div>
            </div>
            <div class="form patient-doctor-table">
                <div class="title">Doctors</div>
                <table>
                    <thead>
                    <tr>
                        <td>Name</td>
                        <td>Phone</td>
                        <td>Email</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="d : ${doctors}" th:if="${d.isActive()}">
                        <td><a th:href="@{'/doctors/' + ${d.id}}" th:text="${d.getFullName()}"></a></td>
                        <td th:text="${d.primaryPhone}"></td>
                        <td><a th:href="'mailto:' + ${d.email}" th:text="${d.email}"></a></td>
                    </tr>
                    </tbody>
                </table>
                <div class="center"><b><a th:href="@{/doctors/new}">Register New Doctor</a></b></div>
            </div>
        </main>
        <div th:fragment="popup">
            <popup id="alert">
                <div id="alertBox" class="popup form">
                    <!-- put content here dynamically -->
                </div>
            </popup>
            <script th:inline="javascript" src="../script/sockjs-0.3.4.js"></script>
            <script th:inline="javascript" src="../script/stomp.js"></script>
            <script th:inline="javascript" type="text/javascript">
                /** This script is for the WebSocket AlertMessage controller server side **/

                'use strict';

                var stompClient = null;
                var alertBox = document.getElementById('alertBox');

                function reconnect()
                {
                    disconnect();
                    connect();
                }

                function connect() {
                    var socket = new SockJS('/alertMessage');
                    stompClient = Stomp.over(socket);
                    stompClient.connect({}, function (frame) {
                        console.log('Connected: ' + frame);
                        stompClient.subscribe('/alerts/doctor', function (message) {
                            if (JSON.parse(message.body).id == /*[[${user.id}]]*/) {
                                alertBox.className = 'popup show';
                                alertBox.innerHTML = JSON.parse(message.body).content + '<br/>Click to close';
                            }
                        });
                    });
                }

                alertBox.addEventListener('click', function () {
                    alertBox.className = 'popup';
                });

                function disconnect() {
                    if (stompClient != null) {
                        stompClient.disconnect();
                    }
                    console.log("Disconnected");
                }

                function sendName() {
                    var name = document.getElementById('name').value;
                    stompClient.send("/paging/alertMessage", {}, JSON.stringify({ 'content': name }));
                }
            </script>
        </div>
    </body>
</html>
