<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div th:replace="base :: head">	</div>
    <body>
        <div th:replace="base :: header"></div>
        <main id="wrapper">
            <form class="login-form form" action="#" th:action="@{/}" method="post">
                <div class="title">Login</div>
                <input class="text" th:field="${loginForm.email}" type="email" placeholder="Email" required="required"/>
                <input class="text" th:field="${loginForm.password}" type="password" placeholder="Password" required="required"/>
                <input class="button" type="submit" value="Login"/>
                <p class="center">New Patient? <a th:href="@{/signup}">Sign Up</a></p>
                <div class="status" th:text="${loginStatus}"></div>
            </form>
        </main>
    </body>
</html>
