<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div th:replace="base :: head">	</div>
    <body>
        <div th:replace="base :: header"></div>
        <main id="wrapper">
            <form th:fragment="symptoms" class="symptom-form form" action="#" th:action="@{${symptoms.url}}" method="post">
                <div class="title">Symptoms</div>
                <div class="row" th:each="entry : ${symptoms.map}">
                    <input class="text" type="number" min="0" max="10" th:field="${symptoms.map[__${entry.key}__]}"/>
                    <label th:text="${entry.key}"></label>
                </div>
                <input class="button" name="symptoms_submit" type="submit" value="Submit"/>
            </form>
            <div class="form patient-doctor-table">
                <div class="title">My Doctors</div>
                <table>
                    <thead>
                    <tr>
                        <td>Name</td>
                        <td>Phone</td>
                        <td>Email</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="d : ${doctors}">
                        <td th:text="${d.getFullName()}"></td>
                        <td th:text="${d.primaryPhone}"></td>
                        <td><a th:href="'mailto:' + ${d.email}" th:text="${d.email}"></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>
er