<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="base :: head">	</div>
<body>
<div th:replace="base :: header"></div>
<main id="wrapper">
    <div th:replace="base :: back"></div>
    <form th:fragment="profile" class="login-form form" action="#" th:action="@{${profile.url}}" method="post">
        <div>
            <div class="title" th:text="${profile.getFullName()}"></div>
            <p class="label">Title</p>
            <input class="text" th:field="${profile.title}" type="text" th:disabled="${disabled}"/>
            <p class="label">First Name</p>
            <input class="text" th:field="${profile.firstName}" type="text" required="required" th:disabled="${disabled}"/>
            <p class="label">Last Name</p>
            <input class="text" th:field="${profile.lastName}" type="text" required="required" th:disabled="${disabled}"/>
            <p class="label">Email</p>
            <input class="text" th:field="${profile.email}" type="email" required="required" disabled="disabled"/>
            <p class="label">Address</p>
            <input class="text" th:field="${profile.address}" type="text" required="required" th:disabled="${disabled}"/>
            <p class="label">Zip</p>
            <input class="text" th:field="${profile.city}" type="text" th:disabled="${disabled}"/>
            <p class="label">State</p>
            <input class="text" th:field="${profile.state}" type="text" required="required" th:disabled="${disabled}"/>
            <p class="label">Zip Code</p>
            <input class="text" th:field="${profile.zip}" type="text" required="required" th:disabled="${disabled}"/>
            <p class="label">Primary Phone</p>
            <input class="text" th:field="${profile.primaryPhone}" type="tel" required="required" th:disabled="${disabled}"/>
            <p class="label">Secondary Phone</p>
            <input class="text" th:field="${profile.secondaryPhone}" type="tel" th:disabled="${disabled}"/>
            <p class="label">Gender</p>
            <input class="text" th:field="${profile.gender}" type="text" required="required" th:disabled="${disabled}"/>
            <p class="label">Date of Birth:</p>
            <input class="text" th:field="${profile.birthDate}" type="date" required="required" th:disabled="${disabled}"/>
        </div>
        <div th:if="${profile.type.equals('DOCTOR')}">
            <p class="label">Qualifications:</p>
            <textarea class="text" th:field="${profile.qualifications}" rows="5" th:disabled="${disabled}"></textarea>
        </div>
        <div th:if="${profile.type.equals('PATIENT') || profile.type.equals('DOCTOR')}">
            <p class="label">Notes:</p>
            <textarea class="text" th:field="${profile.notes}" rows="5" th:disabled="${disabled}"></textarea>
        </div>
        <div th:if="${changepassword}">
            <p class="label">Change Password:</p>
            <input class="text" th:field="${password.password}" type="password" placeholder="Password"/>
            <input class="text" th:field="${password.confirmPassword}" type="password" placeholder="Confirm Password"/>
        </div>
        <input th:if="${!disabled}" name="profile_submit" class="button" type="submit" value="Save Profile"/>
        <div class="status" th:text="${formStatus}"></div>
    </form>
</main>
</body>
</html>
