<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="base :: head">	</div>
<body>
<div th:replace="base :: header"></div>
<main id="wrapper">
    <div th:replace="base :: back"></div>
    <form class="login-form form" action="#" th:action="@{${signupForm.url}}" method="post">
        <div class="title" th:text="${title}"></div>
        <input class="text" th:field="${signupForm.firstName}" type="text" placeholder="First Name" required="required"/>
        <input class="text" th:field="${signupForm.lastName}" type="text" placeholder="Last Name" required="required"/>
        <input class="text" th:field="${signupForm.email}" type="email" placeholder="Email" required="required"/>
        <input class="text" th:field="${signupForm.password}" type="password" placeholder="Password" required="required"/>
        <input class="text" th:field="${signupForm.confirmPassword}" type="password" placeholder="Confirm Password" required="required"/>
        <input class="button" type="submit" value="Sign Up"/>
        <div class="status" th:text="${formStatus}"></div>
    </form>
</main>
</body>
</html>
